# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# PyCharm / IDE files
.idea/
*.iml

# MacOS
.DS_Store

backend/tt_thumbnails
backend/models/twitter-roberta-sentiment/*
frontend-lynx/LynxExplorer-arm64.app/LynxExplorer
frontend-lynx/LynxExplorer-arm64.app/LynxDebugResources.bundle/lynx_core_dev.js
